<div class="container">
    <h2>Promociones y Restaurantes</h2>
    <div class="galeria">
        <div class="image"><img src="/assets/img/wingsarmy.jpg" title="Wings Army"></div>
        <div class="image"><img src="/assets/img/wingsarmy2.jpg" title="Wings Army"></div>
        <div class="image"><img src="/assets/img/dogos.jpg" title="Dogos"></div>
        <div class="image"><img src="/assets/img/dogos2.jpg" title="Dogos"></div>
        <div class="image"><img src="/assets/img/popo.jpg" title="Popo's"></div>
        <div class="image"><img src="/assets/img/popo2.jpg" title="Popo's"></div>
      </div>
</div>