<div id="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
</div>

<article class="info">
	<h2>Informacion</h2>
		<p>
			¡Hola! Bienvenidos a Foraneo Feliz WebPage. 

			Éste espacio es dedicado para toda la comunidad estudiantil 
			que han tomado o van a tomar la decisión de realizar sus estudios en 
			la Universidad Autonoma de Nuevo León, especialmente a las personas
			que viven fuera del municipio y han tenido o van a tener que viajar 
			a otro municipio.
		</p>
		
		<p>		Aquí podrán consultar rentas de departamentos, también podrán solicitar roomies
				sí es que ya se encuentran residiendo aquí y ocupan personas, 
				podrán consultar lugares para comer.
		</p>
</article>